layout {
    gaps 4
    center-focused-column "never"
    always-center-single-column

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.66667; }

    focus-ring {
        off
        width 4
        active-color "#8caaee"
        inactive-color "#51576d"
    }

    border {
        // on
        off
        width 4
        active-color "#8caaee"
        inactive-color "#51576d"
        urgent-color "#e78284"
    }

    tab-indicator {
        // off
        on
        hide-when-single-tab
        place-within-column
        gap -6
        width 8
        length total-proportion=0.5
        position "left"
        gaps-between-tabs 2
        corner-radius 8
        active-color "#8caaee"
        inactive-color "#414559"
        urgent-color "#e78284"
    }
}

layer-rule {
    match namespace="waybar"
    match at-startup=true

    // Properties that apply continuously.
    opacity 0.9
    block-out-from "screencast"
    // block-out-from "screen-capture"

    // geometry-corner-radius 12
    // Place in backdrop, even if it's not on the "top" layer
    place-within-backdrop true
}

// Block out mako notifications from screencasts.
layer-rule {
    match namespace="^notifications$"
    block-out-from "screencast"
}

// All windows
window-rule {
    // Enable rounded corners.
    geometry-corner-radius 12
    clip-to-geometry true
    draw-border-with-background false

    // Open all windows in the tiling layout, overriding any auto-floating logic.
    // open-floating false

    default-column-display "tabbed"
}

// Active window
window-rule {
    match is-active=true
    opacity 1.0
}

window-rule {
    // Inactive window
    match is-active=false
    opacity 0.85
}

window-rule {
    // Floating window
    match is-floating=true
}

window-rule {
    // Unfocused floating window literally floats
    match is-active=false is-floating=true

    baba-is-float true
}
