// All windows
window-rule {
    // Enable rounded corners.
    geometry-corner-radius 12
    clip-to-geometry true
    draw-border-with-background false

    // Open all windows in the tiling layout, overriding any auto-floating logic.
    // open-floating false

    default-column-display "tabbed"
}

window-rule {
    // Active window
    match is-active=true
    opacity 1.0
}

window-rule {
    // Inactive window
    match is-active=false
    opacity 0.80
}

window-rule {
    // Floating window, inactive
    match is-floating=true is-active=false
    opacity 0.2
}

// Make Edge always open maximized
window-rule {
    match app-id="microsoft-edge"
    open-maximized-to-edges true
}

window-rule {
    match app-id="com.mitchellh.ghostty"
    open-maximized-to-edges false
}

// VeraCrypt wants to float by default.
window-rule {
    match app-id=r#"^veracrypt$"#
    // open-floating false
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="re.sonny.Junction"
    border {
      off
    }
    open-floating true
}
