include "configs/main.kdl"
include "configs/input.kdl"
include "configs/output.kdl"
include "configs/layout.kdl"
include "configs/rules.kdl"
include "configs/binds.kdl"
include "configs/binds.spawn.kdl"
include "configs/spawns.kdl"

// include optional=true "configs/local.kdl"
