@import "catppuccin/frappe.css";

* {
  color: @text;
  border: none;
  border-radius: 0;
  font-family: "ZedMono NF", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background-color: @base;
  border: 2px solid @crust;
}

# workspaces {
  padding: 0px 0px 0px 0px;
  margin: 0 0 0 0;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  border-top: 4px solid transparent;
}

#workspaces button.focused {
  border-top: 4px solid @blue;
}

#workspaces button.urgent {
  border-top: 4px solid @rosewater;
}

.module {
  padding: 0 5px;
  margin: 0;
}

#mode {
  background-color: @blue;
  color: @base;
}

#custom-next_workspace {
  padding: 0;
  margin-right: 5px;
}

#custom-prev_workspace {
  padding: 0;
  margin-left: 5px;
}

#custom-kill_window {
  margin-right: 5px;
}
