* {
  border: none;
  border-radius: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  min-height: 24px;
}

window#waybar {
  background: transparent;
  color: #657b83; /* Grey */

  transition-property: background-color;
  transition-duration: 0.1s;
}

window > box {
  margin: 2px 2px 0px 2px;
  background: #fdf6e3; /* Solarized sun */
  border: 2px solid black;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#backlight,
#pulseaudio,
#tray,
#custom-power,
#idle_inhibitor {
  padding: 0 2px;
  background: #657b83; /* Grey */
  color: #fdf6e3; /* Solarized sun */
}

#workspaces button {
  color: #657b83; /* Grey */
  padding: 0 5px;
  background-color: transparent;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.visible {
  background: #657b83; /* Grey */
  color: #fdf6e3; /* Solarized sun */
}

#workspaces button.focused {
  background: #2aa198; /* Solarized cyan */
  color: #fdf6e3; /* Solarized sun */
}

#workspaces button.urgent {
  background-color: #eb4d4b;
  color: #ffffff;
}

#mode {
  padding: 2px 5px 2px 5px;
  background: #657b83; /* Grey */
  color: #fdf6e3; /* Solarized sun */
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray {
  padding: 0 4px;
}

#cpu {
  padding: 0 5px 0 5px;
}

#network {
  padding-left: 5px;
}

label:focus {
  background-color: #000000;
}
