[Desktop Entry]
Type=Action
Name=Set as wallpaper
Icon=preferences-desktop-wallpaper
Profiles=set_wallpaper;

[X-Action-Profile set_wallpaper]
MimeTypes=image/jpeg;image/png;image/gif;image/bmp;image/tiff;
Exec=bash -c 'set-wallpaper "%f"'
Name=Set as wallpaper
