[Unit]
Description=OSD for wayland (niri)
After=graphical-session.target
Partof=niri.service
After=niri.service

[Service]
Type=simple
# %h expands to your home directory
ExecStart=swayosd-server
Restart=always

[Install]
WantedBy=niri.service
