[Unit]
Description=Swaybg Wallpaper Slideshow Daemon
Partof=swaybg.service
After=swaybg.target

[Service]
Type=simple
# %h expands to your home directory
ExecStart=%h/dotfiles/bin/wallpaper-slideshow %h/Pictures/Wallpapers 15m
Restart=always
